@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
}

body{
	font-family: arial, sans-serif;
}

header{
	width: 100%;
	height: 655px;
}

video{
	width: 100%;
	overflow: hidden;
	opacity: 0.8;
	background-size: cover;
	position: absolute;
	top: 0px;
}

nav{
	float: right;
	background:;
	opacity: 0.9;
	overflow: hidden;
}

ul li{
	list-style: none;
	padding: 10px;
}

nav a{
	color:#fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	float: left;
	text-align: center;
  	padding: 15px 15px;
  	display: block;
}

nav ul li:hover{
	opacity: 0.4;
	background: red;
	transition: all 0.45s;
	filter:alpha(opacity=90)
}



.serviços{
	width: 100%;
    height: 655px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divservços{
	width: 90%;
	margin: 90px;
	display: flex;
}

.bloco{
    display: flex;
	flex-direction: column;
	background-color: #212121;
	color: #fff;
	opacity: 0.8;
	text-align: center;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	-bebkit-box-sizing: border-box;
	transition: 
}

.bloco p{
	line-height: 140%;
	margin: 15px 0;

}

.bloco:hover{
	background-color: #e21a1a;
}

#sobre{
	width: 100%;
	height: 655;
	align-items: center;
	
}

#sobre p{
	margin: 200px 0px 200px;
    padding: auto;
    font-size: 45px;
    text-align: center;
}

#contatos{
	width: 100%;
	height: 655;
    text-align: center;
	margin: 200px 0px 200px
}
	
#contatos h1{
	font-size: 60px;
}
		
#contatos p{
	font-size: 30px;
	text-align: center;
}

#contatos img:hover{
	animation: mov 1s infinite;
	position: relative;
	opacity: 0.7;
}

footer{
	color:#808080;
    font: 100px;
    text-align: center;
}

.icone {
	display: none;
}

@media screen and (max-width: 650px){
	header img{
		display: none
	}
	header{
	width: 100%;
	height: 0px;
    }
	.nav a{
		display: none;
		font-size: 20px;
	}
   .nav a.icone{
   		float: right; 
   		display: block;
    }
   .nav.responsivo{
   	    position: relative;
    }
   .nav.responsivo .icone {
		position: absolute;
		right: 0;
		top: 0;
	}
   .nav.responsivo a{
   		display: block;
   		float: none;
   		text-align: left;
    }
   .divservços{
   	width: 100%;
   	display: block;
   	margin: 0px;
   	} 




































